<button-atom
  [text]="buttonText"
  [type]="type"
  [size]="size"
  [color]="color"
  [variant]="variant"
  [shadow]="shadow"
  [disabled]="disabled || loading"
  [extraClass]="composedButtonClass"
  (click)="onButtonClick($event)"
>
  <!-- Contenido del botón con iconos y texto -->
  <ng-container>
    <!-- Icono izquierdo -->
    <icon-atom
      *ngIf="showIcon && (iconPosition === 'left' || iconPosition === 'only')"
      [name]="iconName"
      [svg]="iconSvg"
      [size]="iconSize"
      [extraClass]="iconExtraClass"
    ></icon-atom>

    <!-- Spinner de loading -->
    <svg
      *ngIf="showLoadingSpinner"
      [ngClass]="iconSize + ' animate-spin'"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
    >
      <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="4"
      ></circle>
      <path
        class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
      ></path>
    </svg>

    <!-- Texto con espaciado apropiado -->
    <span
      *ngIf="buttonText"
      [ngClass]="{
        'ml-2': (showIcon || showLoadingSpinner) && iconPosition === 'left',
        'mr-2': showIcon && iconPosition === 'right'
      }"
    >
      {{ buttonText }}
    </span>

    <!-- Icono derecho -->
    <icon-atom
      *ngIf="showIcon && iconPosition === 'right'"
      [name]="iconName"
      [svg]="iconSvg"
      [size]="iconSize"
      [extraClass]="iconExtraClass"
    ></icon-atom>
  </ng-container>
</button-atom>
